<h2>Remove {{data.title}}?</h2>
<div fxLayout="column" fxLayoutGap=".5em">
  <button mat-flat-button (click)="dismiss(false)">
    <div style="min-height: 48px;" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <mat-icon>undo</mat-icon><span>Cancel</span>
    </div>
  </button>
  <button mat-flat-button color="warn" (click)="dismiss(true)">
    <div style="min-height: 48px;" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <mat-icon>delete</mat-icon><span>Delete</span>
    </div>
    
  </button>
</div>
